*  { 
margin: 0 ;
padding: 0 ;
box-sizing: border-box ;
scroll-behavior: smooth ;
}

body  { 
 background-image: url(Royal.jpg) ;
 
}
 .name  {
color: white;
letter-spacing: 5px;
font-family:cursive;
font-size:32px;
margin-left:2rem;
}

header { 
display:flex;
justify-content:space-between;
align-items:center;
max-width:1200px;
}


nav ul   { 
display:flex;
list-style-type: none;
}

nav ul  li {
margin:1.5rem
    }


nav ul li a  { 
text-decoration:none;
color:white;
}


 nav ul li a:hover  {    
color:grey;
}

hr  { 
opacity:30%;
}

section p { 
display: flex;
align-items:center;
color:white;
word-spacing: 10px;
letter-spacing:3px;
margin-top : 33rem;
margin-left:2rem;

}





#skills { 
display:flex;
justify-content: space-between;
align-items:center;
margin-bottom:600px
}

#ContactMe  {
display:flex;
justify-content:space-between;
align-items:center;

 }
.email  { 
margin-top : 5px;
margin-right:1200px;
}


.phone  { 
display:flex;
justify-content:space-between;
align-items:center;

    }

    .number  { 
margin-top : 5px;
margin-right:1000px;
display:flex;
justify-content:space-between;
align-items:center;

    }

.Insta  { 
display:flex;
justify-content:space-between;
align-items:center;
}

.nameinsta { 
margin-left:5rem;
margin-top:-40px;
display:flex;
justify-content:space-between;
align-items:center;

}

footer  { 
max-width:1200px;
height:100px;
}


.salut  { 
color:white;
letter-spacing:3px;
text-align:center
}
















